.section {
  text-align: center;
}

.hero {
  background-image: url(./img/main-bg.jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.arrowdiv {
  align-content: center;
  background-position: center;
  background-size: 80px;
  border-radius: 50px;
  background-image: url(img/greyarrow.png);
  width: 76px;
  height: 76px;
}

.center {
top: 35%;

}
body {
  margin: 0;
}
.your {
  font-size: 150px;
  font-weight: bold;
  line-height: .3;
  
}
.personal {
  letter-spacing: 1px;
  white-space: nowrap;
  font-weight: 900;
  font-size: 35px;
  
}
.mytext {
  font-weight: 800;
  font-size: 30px;
}
.nav {
  font-size: 30px;
}
.arrowdivrow {
position: absolute;
left: 48%;
bottom: 5%;
}

@media (max-width: 800px) {
  .menu {
    display: none;
  }
}

@media (min-width: 800px) {
  .icons,
  .righticons {
    display: none;
  }
}

.icons {
  margin-top: 1rem;
  

}

.menuicon {
  background-image: url(img/menu-circular-button.png);
  align-content: center;
  background-position: center;
  background-size: 100px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-left: 3rem;
  margin-top: .5rem;
}

.twiticon {
  background-image: url(img/twitter-log.png);
  align-content: center;
  background-position: center;
  background-size: 40px;
  width: 40px;
  height: 40px;
  margin-top: 3rem;
  margin-right: 2rem;
  
}

.faceicon {
  background-image: url(img/facebook.png);
  align-content: center;
  background-position: center;
  background-size: 40px;
  width: 40px;
  height: 40px;
  margin-top: 3rem;
  
}

.righticons {
  white-space: nowrap;
  position: relative;
}

.menu {
  height: 124px;
  width: 100%;
}